<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Klinika Demo</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script type="application/javascript" src="/js/validationCommon.js"></script>
</head>
<body>
<header>
    <h1>Klinika</h1>
    <img src="/images/logo.png" alt="Logo Kliniki">
</header>
<nav>
    <ul>
        <li><a href="/" class="active">Strona główna</a></li>
        <li><a href="/doctor">Lekarze</a></li>
        <li><a href="/patient/">Pacjenci</a></li>
        <li><a href="/specialization/">Specjalizacje</a></li>
        <li><a href="/appointment/">Wizyty</a></li>
    </ul>
</nav>