<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Nowa specjalizacja</h2>
    <form class="form">
        <label for="specialization_name">Nazwa specjalizacji: <span class="symbol-required">*</span></label>
        <input type="text" name="specialization_name" id="specialization_name" required>
        <span id="errorSpecializationName"></span>
        <div class="form-buttons">
        <input type="submit" value="Dodaj" class="form-button-submit"/>
        <a href="/specializations/" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>