<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista specjalizacji</h2>
    <p>Brak rekordów do wyświetlenia</p>
    <p><a href="/specializations/add" class="button-add">Dodaj nową specjalizację</a> </p>
</main>
<%- include('../../fragments/footer.ejs') %>