<%- include('../../fragments/header.ejs') %>
<main>
  <h2>Lista specjalizacji</h2>
  <table class="table-list">
    <tr>
      <th>Nazwa specjalizacji</th>
      <th>Akcje</th>
    </tr>
    <tbody>
      <tr>
      <td>Pediatria</td>
      <td>
        <ul class="list-actions">
          <li>
            <a href="/specializations/details/:specializationId" class="list-actions-button-details">Szczegóły</a>
          </li>
          <li>
            <a href="/specializations/edit/:specializationId" class="list-actions-button-edit">Edytuj</a>
          </li>
          <li>
            <a href="" class="list-actions-button-delete">Usuń</a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
  <p><a href="/specializations/add" class="button-add">Dodaj nową specjalizację</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>