<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Szczegóły pacjenta</h2>
    <form class="form">
        <label for="firstName">Imię: *</label>
        <input type="text" name="firstName" id="firstName" value="Adam" required disabled>
        <span id="errorFirstName"></span>

        <label for="lastName">Nazwisko: *</label>
        <input type="text" name="lastName" id="lastName" value="Skrzat" required disabled>
        <span id="errorLastName"></span>

        <label for="chronic_diseases">Choroby przewlekłe: </label>
        <textarea id="chronic_diseases" name="chronic_diseases" rows="5" cols="40" disabled>Podwyższone ciśnienie</textarea>
        <span id="errorChronicDiseases"></span>

        <label for="pesel">PESEL: *</label>
        <input type="text" name="pesel" id="pesel" value="00000000000" disabled>
        <span id="errorPesel"></span>
        <div>
            <a href="form-edit.html" class="list-actions-button-edit">Edytuj</a>
        </div>
    </form>
    <h2>Szczegóły wizyt</h2>
    <table class="table-list">
        <tr>
            <th>Data wizyty</th>
            <th>Recepta</th>
            <th>Dokumentacja wizyty</th>
        </tr>
        <tbody>
        <tr>
            <td>2020-08-10</td>
            <td>Paracetamol 500mg 2x dziennie</td>
            <td>Pacjent z podwyższoną gorączką</td>
        </tr>
        </tbody>
    </table>
</main>
<%- include('../../fragments/header.ejs') %>