<%- include('../../fragments/header.ejs') %>
<main>
  <h2>Nowy pacjent</h2>
  <form class="form">
    <label for="firstName">Imię: <span class="symbol-required">*</span></label>
    <input type="text" name="firstName" id="firstName" class="error-input" required>
    <span id="errorFirstName" class="errors-text">Pole jest wymagane</span>

    <label for="lastName">Nazwisko: <span class="symbol-required">*</span></label>
    <input type="text" name="lastName" id="lastName" class="error-input" required>
    <span id="errorLastName" class="errors-text">Pole jest wymagane</span>

    <label for="chronic_diseases">Choroby przewlekłe: </label>
    <textarea id="chronic_diseases" name="chronic_diseases" rows="5" cols="40"></textarea>
    <span id="errorChronicDiseases" class="errors-text"></span>

    <label for="pesel">PESEL: <span class="symbol-required">*</span></label>
    <input type="text" name="pesel" id="pesel" class="error-input" required>
      <span id="errorPesel" class="errors-text">Pole jest wymagane</span>

    <span id="errorsSummary" class="errors-text">Formularz zawiera błędy</span>
    <div class="form-buttons">
      <input type="submit" value="Dodaj" class="form-button-submit"/>
      <a href="/patients/" class="form-button-cancel">Anuluj</a>
    </div>
  </form>
</main>
<%- include('../../fragments/footer.ejs') %>