<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista pacjentów</h2>
    <p>Brak rekordów do wyświetlenia</p>
    <p><a href="form.html" class="button-add">Dodaj nowego pacjenta</a> </p>
</main>
<%- include('../../fragments/footer.ejs') %>