<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Nowy lekarz</h2>
    <form class="form" onsubmit="return validateForm();" novalidate>
        <label for="firstName">Imię: <span class="symbol-required">*</span></label>
        <input type="text" name="firstName" id="firstName" required>
        <span id="errorFirstName"></span>

        <label for="lastName">Nazwisko: <span class="symbol-required">*</span></label>
        <input type="text" name="lastName" id="lastName" required>
        <span id="errorLastName"></span>

        <label for="email">Email: </label>
        <input type="email" name="email" id="email">
        <span id="errorEmail"></span>

        <label for="specialization">Specjalizacja: <span class="symbol-required">*</span></label>
        <select name="specialization" id="specialization"  required>
            <optgroup label="Podstawowe">
                <option value="1">Internista</option>
                <option value="2">Pediatra</option>
            </optgroup>
        </select>
        <span id="errorSpecialization"></span>

        <div class="form-buttons">
        <input type="submit" value="Dodaj" class="form-button-submit"/>
        <a href="list.html" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>