<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Szczegóły specjalizacji</h2>
    <form class="form">
        <label for="specialization_name">Nazwa specjalizacji: *</label>
        <input type="text" name="specialization_name" id="specialization_name" value="Pediatra" required disabled>
        <span id="errorSpecializationName"></span>
        <div>
            <a href="/specializations/edit/:specializationId" class="list-actions-button-edit">Edytuj</a>
        </div>
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>