<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Klinika Demo</title>
    <link rel="stylesheet" href="../../../public/css/style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script type="application/javascript" src="../../../public/js/validationCommon.js"></script>
</head>
<body>
<header>
    <h1>Klinika</h1>
    <img src="../../../public/images/logo.png" alt="Logo Kliniki">
</header>
<nav>
    <ul>
        <li><a href="../../index.html">Strona główna</a></li>
        <li><a href="../doctor/list.html">Lekarze</a></li>
        <li><a href="../patient/list.html">Pacjenci</a></li>
        <li><a href="../specialization/list.html">Specjalizacje</a></li>
        <li><a href="list.html" class="active">Wizyty</a></li>
    </ul>
</nav>
<main>
    <h2>Szczegóły wizyty</h2>
    <form class="form">
        <label for="visit_date">Data wizyty: *</label>
        <input type="date" name="visit_date" id="visit_date" value="2021-05-10" required disabled>
        <span id="errorVisitDate"></span>

        <label for="doctor">Lekarz przyjmujący: *</label>
        <select name="doctor" id="doctor" required disabled>
            <optgroup label="Lekarze">
                <option value="1">Jan Kowalski</option>
                <option value="2" selected>Tomasz Nowak</option>
                <option value="3">Robert Kot</option>
            </optgroup>
        </select>
        <span id="errorDoctor"></span>

        <label for="patient">Pacjent: *</label>
        <select name="patient" id="patient" required disabled>
            <optgroup label="Pacjenci">
                <option value="1">Adam Skrzat</option>
                <option value="2" selected>Bartosz Kula</option>
                <option value="3">Krzysztof Top</option>
            </optgroup>
        </select>
        <span id="errorPatient"></span>

        <label for="prescription">Recepta: </label>
        <input type="text" name="prescription" id="prescription" value="Witamina C 500mg 3x dziennie" disabled>
        <span id="errorPrescription"></span>

        <label for="visit_description">Opis wizyty: </label>
        <textarea id="visit_description" name="visit_description" rows="5" cols="40" disabled>Pacjent z osłabioną odpornością</textarea>
        <span id="errorVisitDescription"></span>

        <div>
            <a href="form-edit.html" class="list-actions-button-edit">Edytuj</a>
        </div>
    </form>
</main>
<footer>
    Borys, Kotnowski, s20610
</footer>
</body>
</html>