<%- include('../../fragments/header.ejs') %>
<main>
  <h2>Lista wizyt</h2>
  <table class="table-list">
    <tr>
      <th>Data wizyty</th>
      <th>Lekarz</th>
      <th>Pacjent</th>
      <th>Akcje</th>
    </tr>
    <tbody>
    <tr>
      <td>14-10-2021 15:10 00</td>
      <td>Jan Kowalski</td>
      <td>Adam Skrzat</td>
      <td>
        <ul class="list-actions">
          <li>
            <a href="/appointments/details/:appointmentId" class="list-actions-button-details">Szczegóły</a>
          </li>
          <li>
            <a href="/appointments/edit/:appointmentId" class="list-actions-button-edit">Edytuj</a>
          </li>
          <li>
            <a href="" class="list-actions-button-delete">Usuń</a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
  <p><a href="/appointments/add" class="button-add">Dodaj nową wizytę</a> </p>
</main>
<%- include('../../fragments/footer.ejs') %>